/* index.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #0366d6;
}

p {
    text-indent: 2em; /* 你可以根据需要调整缩进的大小 */
}


/* 可以在这里添加更多的CSS样式，以美化你的页面 */
